/* resets */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #f9fafc;
}

header {
  margin: 20px;
}

h1 {
  color: #000;
  font-size: 16px;
  padding: 10px;
  /* font-size: 1em; */
}

.header-nav ul {
  display: flex;
  flex-direction: column;
}

.header-nav li {
  list-style: none;
  padding: 10px;
}

.header-nav a,
.description,
.footer-nav a {
  color: #69696a;
}

.header-nav a {
  display: block;
}

.header-nav a,
.footer-nav a {
  text-decoration: none;
}

.hire-us a,
.cta {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
}

.hire-us a {
  padding: 5px;
  text-align: center;
}

main {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.despription-heading {
  color: #000;
}

.description {
  border-left: 3px solid #69696a;
  padding-left: 20px;
  margin: 10px;
}

.chirpus-footer {
  padding: 10px;
  color: #000;
}

.cta {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  margin: 10px;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(247, 193, 162, 0.7);
  display: flex;
  justify-content: space-between;
}

.footer-nav ul {
  display: flex;
}

.footer-nav li {
  padding: 10px;
  list-style: none;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .header-nav ul {
    flex-direction: row;
  }
  .description,
  .cta {
    width: 50%;
  }
  .right {
    position: absolute;
    right: 0;
    width: 50%;
  }
  .pink {
    background-color: rgba(247, 136, 167, 0.6);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    right: 100px;
  }
  .purple {
    background-color: rgba(207, 130, 213, 0.6);
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    top: 40px;
  }
  .orange {
    background-color: rgba(247, 193, 162, 0.7);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: 35px;
    top: 110px;
  }
}
